*{
    margin: 5px;
    padding: 5px;
}
.para{
    background-color:red;
    font-family:cursive;
    font-size:large;
    color:rgb(255, 255, 255);
}

.img{
    border: 2px solid rgb(255, 0, 13);
    border-radius:10px;

}