*{
    margin: 5px;
    padding: 5px;
    font-family: cursive;
}
.para{
    background-color:red;
    font-size:large;
    color:rgb(255, 255, 255);
}

img{
    border: 2px solid rgb(41, 38, 38);
    border-radius: 20px;
    height: 300px;
    width: 240px;
    

}
.social{
    
    
}
.list{
    font-size: large;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
.name{
    text-align: left;
}
.address{
    text-align: left;
}

